<footer>
	<div class="row">
		<div class="col-md-6 text-center">
			<span class="float-md-left">  Page powered by <a href="https://github.com/publiclab/community-toolbox"><i class="fa fa-github"></i></a>
        <a href="https://github.com/publiclab/community-toolbox" >Commmunity Toolbox</a> 
        - Open Source
      </span>
        </div>
        <div class="col-md-6 text-center">
            <span class="float-md-right">
		<a href="https://www.facebook.com/PublicLab/" title="Facebook" ><i class="fa fa-facebook"></i> </a>
      		<a href="https://twitter.com/PublicLab?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" title="Twitter" ><i class="fa fa-twitter"></i> </a>
		<a href="https://github.com/publiclab" title="Organization" ><i class="fa fa-github"></i> </a>
        <a href="https://publiclab.org" title="Publiclab Website"><i class="fa fa-globe"></i> Publiclab</a> </span>
        </div>
    </div>
    </footer>