<div class="container-fluid">

	<header class="text-center">
		<h1>Welcome to Public Lab's coding community!</h1>
	</header>

	<hr />

	<h4 style="text-align:center;font-weight:bold;">We're so happy to meet you! This page is to welcome new contributors. </h4>

	<hr />

	<div class="row">
		<div class="col-md-6">

			<p>We especially welcome contributions from people from <b>groups underrepresented</b> in free and open source software!</p>

          <p>Our community aspires to be a respectful place. Please read and abide by our <a href="https://publiclab.org/conduct">Code of Conduct</a>.</p>

	   <p>To explore issues across the entire organization, check out <a href="https://code.publiclab.org/#r=all">Public Lab issues</a>.</p>
        </div>

        <div class="col-md-6">

          <p>If you're new, and looking to get involved, you're in the right place. Check out <a href="https://github.com/publiclab/plots2/blob/master/README.md">our README</a> to get started.</p>

          <p>If you're new to GitHub, using branches, or opening pull requests, <a href="https://guides.github.com/activities/hello-world/">read here for an introduction</a>.</p>

          <p>If you have trouble, check out <a href="https://publiclab.org/chat">our chatroom</a> to ask for help, or you can talk directly with the other contributors on <a href="https://gitter.im/publiclab/publiclab">our Gitter chatroom</a> or just <a href="https://github.com/publiclab/plots2/issues/new">open an issue</a> and we'll write back!</p>


        </div>

      </div>

      <hr />
    </div>